<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/assets/img/timer.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <title>My Time</title>
</head>

<body>
  <header class="header"></header>

  <div id="app">

    <nav class="nav-container">
      <h3 class="nav-title">My Time</h3>
      <ul class="navbar">
        <li class="nav-item">
          <a href="#" :class="[type == 'stopWatch' ? 'nav-link active' : 'nav-link']" @click.prevent="renderStopwatch()">Cronometro</a>
        </li>
        <li class="nav-item">
          <a href="#" :class="[type == 'timer' ? 'nav-link active' : 'nav-link']" @click.prevent="renderInputTimer()">Temporizador</a>
        </li>
      </ul>
    </nav>

    <main>
      <div class="container">
        <div class="content-timer">
          <div class="timer">
            <h1>{{ hours }}:{{ minutes }}:{{ seconds }}</h1>
          </div>
          <div class="input-timer" v-if="showInput">
            <div class="input-timer-content">
              <i class="fas fa-hourglass-start"></i>
              <input type="text" placeholder="00" v-model="hours" :disabled="disableInputsTimer">:
              <input type="text" placeholder="00" v-model="minutes" :disabled="disableInputsTimer">:
              <input type="text" placeholder="00" v-model="seconds" :disabled="disableInputsTimer">
            </div>
          </div>
          <div class="buttons">
            <button :class="[disableButtons ? 'disable' : 'start']" @click="startTimer()" :disabled="disableButtons">
              <i class="fas fa-play"></i>START
            </button>
            <button :class="[!disableButtons ? 'disable' : 'pause', buttonStop.change ? 'resume' : '']" @click="stopTimer()"
              :disabled="!disableButtons">
              <i :class="buttonStop.icon"></i>{{ buttonStop.textButton }}
            </button>
            <button :class="[!disableButtons ? 'disable' : 'reset']" @click="resetTimer()" :disabled="!disableButtons">
              <i class="fas fa-undo-alt"></i>RESET
            </button>
          </div>
        </div>
      </div>
    </main>

  </div>

  <footer class="footer">
    <h4>&copy; Desenvolvido por Rodrigo, 2021</h4>
    <div class="partner-media-container">
      <a href="http://linkedin.com/in/rodrigo-yuri" target="_black"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/rodrigoyuri/" target="_black"><i class="fab fa-github"></i></a>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script type="module" src="/assets/js/main.js"></script>
</body>

</html>